In [23]:
import pandas as pd
import numpy as np
import matplotlib as plt


FIELDS = ['Year', 'Name','Batting_Average', 'Slugging_Percentage']
YEARS = [1980, 1993, 2008, 2023]

phillies = pd.read_csv("PHL_batting.csv")
phillies.fillna(value="")

# New dataset includes only years in YEARS array
phillies = phillies[phillies['Year'].isin(YEARS)].loc[:, FIELDS]
phillies

      Year               Name  Batting_Average  Slugging_Percentage
0     2023      J.T. Realmuto            0.252                0.452
1     2023       Kody Clemens            0.230                0.367
2     2023       Bryson Stott            0.280                0.419
3     2023        Trea Turner            0.266                0.459
4     2023          Alec Bohm            0.274                0.437
...    ...                ...              ...                  ...
1956  1980      Lerrin LaGrow            0.250                0.250
1957  1980         Mark Davis            0.500                0.500
1958  1980  Scott Munninghoff            1.000                3.000
1959  1980    Warren Brusstar            0.000                0.000
1960  1980        Sparky Lyle            0.000                0.000

[163 rows x 4 columns]

In [24]:
ba_sp_groups_by_year = phillies.groupby("Year")[["Batting_Average", "Slugging_Percentage"]]
ba_sp_means = ba_sp_groups_by_year.mean()
ba_sp_means

      Batting_Average  Slugging_Percentage
Year
1980         0.276026             0.413128
1993         0.231900             0.305450
2008         0.168550             0.301325
2023         0.107182             0.176455

In [26]:
ba_sp_sd = ba_sp_groups_by_year.std()
ba_sp_sd

      Batting_Average  Slugging_Percentage
Year
1980         0.209547             0.471874
1993         0.224999             0.257802
2008         0.145834             0.335238
2023         0.123928             0.208709